<h1>Lista de Atletas</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th>nome</th>
            <th>Id Modalidade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let atleta of atletas">
            <th>{{atleta.id}}</th>
            <th>{{atleta.nome}}</th>
            <th>{{atleta.id_modalidade}}</th>
        </tr>
    </tbody>
</table>


<form #frm="ngForm" (ngSubmit)="incluirAtleta()">
    <label for="name">Nome: </label>
    <input type="text" name="nome" [(ngModel)]="atleta.nome" required /><br>
    <label for="id_modalidade">IdModalidade: </label>
    <input type="text" name="id_modalidade" [(ngModel)]="atleta.id_modalidade" required /><br>
    <button type="submit">enviar</button>
</form>

